body{ 
	margin:0;
	background-image:url(images/fond.jpg);
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cssmenu {
	padding: 0; margin: 0;
	text-align: center; 
	 display:table;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}

.top {
	height: 90px;
	background-color: #E47833;
	margin-top: 30px;
	  width: 100%;
}

.logo {
	height: 150px;
	width: 210px;
	background-color: #D42828;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	position: absolute;
	margin-top: -110px;
	margin-left: 90px;
		background-image:url(images/pizza.png);
	background-repeat:no-repeat;
	 background-size: 210px 150px;
	 background-position: right;
}

.codepostal {
	right: 20%;
	float: right;
	position: absolute;
	color: white;
	margin-top: 110px;
}

.tel {
	margin-top: -30px;
	margin-right: 24%;
	float: right;
	color: white;
	z-index: 999;
	font: normal 24px 'Righteous', cursive;
}


.footer{
	background-color: #E47833;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer .footer-gauche,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer .footer-gauche{
	width: 40%;
}




.footer h3{
	color:  #ffffff;
	font: normal 46px 'Cookie', cursive;
	margin: 0;
}

.footer h3 span{
	color:  #33383B;
}

.footer .footer-liens{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-liens a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-realiser{
	color:  #33383B;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer-center p a{
	color:  #33383B;
	text-decoration: none;;
}

.footer .footer-right{
	width: 20%;
}

.footer .footer-apropos{
	line-height: 20px;
	color:  #33383B;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-apropos span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.test {
	height: 500px;
	background-color: grey;
	  width: 900px;
	  padding: 0; margin: 0;
	text-align: center; 
	 display:table;
    margin-left:auto;
    margin-right:auto;
}

.titre{
	color:  #ffffff;
	font: normal 46px 'Cookie', cursive;
	margin-top: -85px;
	margin-left: 330px;
}

.sstitre{
	color:  #ffffff;
	font: normal 16px 'Righteous', cursive;
	margin-top: -5px;
	margin-left: 330px;
}

.lspizza{
	height: 197px;
	width: 291px;
	border: 1px solid black;
}

.truc{
   width: 291px;
}

.titredespizzas {
 background-color: #FFFFFF;
}


form {
	height: 250px;
	
	display: block;
}
.map {
height: 400px;
position: relative;
width: 400px;
border-radius: 1em;
float:right;
margin: auto;
margin-left:-10px;
top: -396px;
}

.block {

}


.lacarte {
          box-shadow: 5px 5px 5px grey;
          border: 2px solid black;
          height: 407px;
          width: 15%;
          margin-left: 0px;
		  display: inline-block;
		 position: fixed;
		 /*margin-top: 230px;*/
}
.catalogue {
	
            border: 2px solid green;
            float: right;
            width: 71%;
            height: 1000px;
}

.random {
	    border: 2px solid purple;
		width: 93%;
		height: 100px;
		float: right;
		margin: 20px;
		
}
.pizzas {
         box-shadow: 3px 3px 3px grey;
         border: 2px solid red;
         width: 31%;
         height: 195px;
         float: left;
         margin-left: 7px;
         margin-top: 15px;
}

h1 {
    border: 2px solid red;
    width: 100%;
    margin: auto;
}

.toutcarte {
width: 900px;
 margin-left:auto;
    margin-right:auto;
	height: 800px;
}

.block900 {
	width: 900px;
	border: 2px solid red;
	margin: auto;
	height: 1200px;
	background-color: white;
}

.hor {
	text-decoration:underline;
}



.photo-pizzeria {

	display: block;
	margin:auto;
	width: 400px;


}

li {
	padding-top: 15px;
	margin-top: -10px;
	text-align: justify;
	text-align: left;
}

.mapcontact {
	float: right;
	position: absolute;
	margin-left: 460px;
}

.lesprix {
   font: normal 20px 'Cookie', cursive;
   font-weight: bold;
   margin-top: -8px;
}

.ajpanier {
  height: 34px;
      margin-top: -11px;
	      width: 100%;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 25px;
  position: relative;
  cursor: pointer;
  top: 0;
  border: 1px solid rgba(86,79,79,1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal normal 300 15px "Iceland", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(142,142,142,1);

}

.enjoy-css:hover {
  border: 1px solid rgba(114,2,2,1);
  background: #D42828;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

#myform {
    text-align: center;
    padding: 2px;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.put {
	width:270px;
	height:20px;
	background:#efefef;
	border:2px solid #dedede;
	padding: 6px;
	margin-top:0px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:83px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

input:focus, textarea:focus {
    border:2px solid #000;
}

 .contacts {
    display: block;
   margin: 0 auto;
    height: 520px;
  width: 900px;
    border: 1px solid #CCC;
    border-radius: 1em;
    border: 1px solid black;
     background-color: #FCFCFC;


    
}

.contacts div + div {
	margin-top: 1em
	
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}


.message {
 display: inline-block;
    width: 280px;
    height: 120px;
    text-align: center;
    margin-left: 10px;
}

.foor {
font: normal 26px 'Cookie', cursive;
padding: 0px 20px 0px 20px;
}

.foorm {
font: normal 26px 'Cookie', cursive;
padding: 15px;
margin-top:-50px;
}


.boutonc {
	background-color: green;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 45px;
	text-decoration:none;
	margin-left: 200px;
}
.boutonc:hover {
	background-color:#72b352;
}

.boutona {
	background-color: red;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 45px;
	text-decoration:none;
	margin-left: 200px;
}
.boutona:hover {
	background-color: orange;
}

.fun {
        margin: auto;
        display: block;
        width: 400px;
}

.info {
        float:left;
        border: solid 1px black;
        position:absolute;
        padding:20px;
        width:200px;
        color:olive;

}

